* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
}

table {
    background-color: white;
    
    margin-top: 100px;
    padding-left: 24px;
    margin-left: 15%;
    width: 1030px;
    border-collapse:collapse ; 
    
    
}
.boks {
    margin-left: 24px;
}
.tr1 {
 height: 72px;
 border-bottom: 1px solid  #F2F2F2;
 border-collapse: collapse;
 

} 
.tr2 {
    height: 72px;
    border-bottom: 1px solid  #F2F2F2;
    border-collapse: collapse;
   
   } 
.th1 {
 font-size: 16px;
 font-weight: 600;
 color: #000;
}
.th2 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
   }
.th3 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
   }
   .th4 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
   }
   .th5 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
   }
.th6 {
    font-size: 16px;
    font-weight: 600;
    color: #000;
} 
.td1 {
 font-size: 16px;
 font-weight: 400;
 color:  #0B63F8;
 
}
.td2 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0, 0.65);
}
